---
- name: install {{ software }}
  yum:
    name: "{{ software }}"
    state: latest
- name: enable {{ software }}
  service:
    name: "{{ software }}"
    state: yes
- name: configure {{ software }}
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: 0644
- name: restart {{ software }}
  service:
    name: "{{ software }}"
    state: restarted