- name: install postgres
  yum:
    name: postgresql-server
    state: latest

# - name: check for file if exist
#   stat:
#     path: /var/lib/pgsql/initdb.log
#   register: r_pgsql_initdb_log

- name: initialize postgres
  command: postgresql-setup initdb
  # when: not '/var/lib/pgsql/initdb.log' is file #THIS IS CHECKING ON CONTROL HOST
  # args:
  #   creates: /var/lib/pgsql/initdb.log #shortcut to the stat module
  # when: not r_pgsql_initdb_log.stat.exists
  register: r_pgsql_initdb
  failed_when:
    - r_pgsql_initdb.rc != 0
    - r_pgsql_initdb.rc != 'Data directory is not empty!'
  changed_when:
    - r_pgsql_initdb.rc == 0

- name: start and enable postgres
  service:
    name: postgresql
    enabled: true
    state: started
